.svg-hamburger-dims {
	width: 32px;
	height: 18px;
}

.svg-main-circle-dims {
	width: 30px;
	height: 30px;
}

.svg-main-square-dims {
	width: 27px;
	height: 27px;
}

.svg-main-triangle-dims {
	width: 35.654px;
	height: 27.855px;
}

